// Page-spinner
.loading-anime{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40px;
    display: flex;
    align-items: center;
}   


@keyframes animation{
    0%{
        opacity: 1;
        z-index: 100;
    }
    90%{
        opacity: 1;
        z-index: 100;
    }
    100%{
        opacity: 0;
        z-index: -100;
    }
}

@-webkit-keyframes animation {
    0%{
        opacity: 1;
        z-index: 100;
    }
    90%{
        opacity: 1;
        z-index: 100;
    }
    100% {
        opacity: 0;
        z-index: -100;
    }
}



.screen-block{
    position: fixed;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    background: whitesmoke;
    height: 100vh;
    width: 100vw;
    z-index: 100;
    -webkit-animation: animation 5s forwards;
    animation: animation 3s forwards;

}

.loading-anime-bars{
    width: 7px;
    height: 0px;
    background: #9356DC;
    margin: 0 4px;
    animation: loading 1.5s infinite;
    box-shadow: 0px 0px 0px 1px 5px #99E2D0;
}


.loading-anime-bars:nth-child(2) {
    animation-delay: 0.1s;
}

.loading-anime-bars:nth-child(3) {
    animation-delay: 0.2s;
}

.loading-anime-bars:nth-child(4) {
    animation-delay: 0.3s;
}

.loading-anime-bars:nth-child(5) {
    animation-delay: 0.4s;
}

.loading-anime-bars:nth-child(6) {
    animation-delay: 0.5s;
}

.loading-anime-bars:nth-child(7) {
    animation-delay: 0.6s;
}

.loading-anime-bars:nth-child(8) {
    animation-delay: 0.7s;
}


@keyframes loading {
    0% {
        height: 0%;
    }

    50% {
        background-color: #FF79DA;
        height: 40px;
    }

    100% {
        background-color: #99E2D0;
        height: 0;
    }
}



// New-Box
.restaurants-new-box{
    position: absolute;
    right: 0;
    top: auto;
    margin: -10rem 1.65rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.8rem;
    width: 5rem;
    font-size: 14px;
    font-weight: 500;
    color: #139273;
    border-radius: 2px;
    background: $cd-bar;
}




