* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.head {
  padding: 0.95rem;
  background-color: white;
  position: relative;
  box-shadow: 3px 10px -6px;
}

.head-img {
  display: flex;
  height: auto;
  width: 45%;
  max-width: 300px;
  margin-top: 5px;
  margin: auto;
}

.location {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  padding: 1rem 2rem 1rem 1.5rem;
  color: darkgrey;
  background: #eaeaea;
  font-weight: 600;
}

.fa-map-pin {
  color: darkslategray;
  align-items: center;
  padding-right: 1rem;
}

.main-menu-cont {
  display: flex;
  flex-direction: column;
}

.main-top {
  padding: 2.2rem 1rem;
  background: #f6f6f6;
  text-align: center;
  color: black;
}

.main-menu-title {
  font-size: 50px;
  font-weight: 900;
  margin-left: -10px;
}

.main-menu-text {
  padding: 1.4rem 1rem 1.4rem 1.4rem;
  color: darkslategray;
  font-size: 19px;
  font-weight: 300;
}

.explore-button {
  padding: 1rem 1.7rem;
  margin: 0.4rem 1.3rem 0.4rem;
  color: white;
  background: linear-gradient(#9356DC, #FF79DA);
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.how-it-works-title {
  margin: 2.9rem 1rem 1.25rem 1.25rem;
  font-size: 24px;
  font-weight: 900;
}

.how-works-cont {
  display: flex;
  flex-direction: column;
  margin: 0rem 0.7rem 0rem 1.5rem;
  align-items: center;
}

.how-works-button {
  display: flex;
  width: 95%;
  height: 72px;
  border: none;
  background: #f2f2f2;
  border-radius: 20px;
  box-sizing: 3px 20px -9px;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  margin: 0.73rem;
  font-weight: 600;
  cursor: pointer;
}

.how-works-button-pink {
  display: flex;
  width: 95%;
  height: 72px;
  border: none;
  background: #f5edff;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 500;
  box-shadow: 3px 20px -9px;
  align-items: center;
  margin: 0.9rem 0.2rem 0;
  font-weight: 600;
  cursor: pointer;
}

.fa-mobile-screen {
  color: dimgray;
  font: 18px;
  align-items: center;
  padding: 0 2rem;
}

.fa-list {
  color: dimgray;
  font-size: 18px;
  align-items: center;
  padding: 0 2rem;
}

.fa-store {
  color: dimgray;
  font-size: 18px;
  padding: 1.3rem 2rem;
}

.button-number {
  position: absolute;
  margin-left: -12px;
  margin: 4px;
  color: #9356DC;
  font-size: 1.5rem;
}

.works-number-text {
  position: absolute;
  margin: -4px;
  margin-top: 5px;
  font-weight: 600;
  font-size: 13px;
  color: white;
}

.restaurants-cont {
  display: flex;
  flex-direction: column;
  background: #f2f2f2;
  padding-bottom: 3rem;
}

.restaurants-title {
  margin-top: 4rem;
  display: flex;
  padding: 20px 16px 18px 19px;
  font-size: 24px;
  font-weight: 900;
  background: #f2f2f2;
}

.restaurants-listing {
  display: flex;
  flex-direction: column;
  background: #f2f2f2;
  box-shadow: 0 3px 20px -9xp black;
  border-radius: 15px;
  overflow: hidden;
  text-decoration: none;
  color: black;
  min-width: 15%;
  margin: 0rem 1.3rem 1.3rem 1.3rem;
}

.restaurants-listing-crop {
  height: 10.9rem;
  -o-object-fit: cover;
     object-fit: cover;
  width: 102%;
  max-height: 100%;
  -o-object-position: bottom;
     object-position: bottom;
}

.restaurants-list-title {
  margin: 0.7rem 0.5rem 0rem 0.75rem;
  font-size: 18px;
  font-weight: 600;
}

.restaurants-list-description {
  margin: 0.25rem 1rem 1rem 0.7rem;
  font-size: 17px;
}

.restaurants-listing a {
  text-decoration: none;
  color: black;
}

.restaurants-wrapper {
  position: relative;
}

.restaurants-new-box {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0.8rem 0.65rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.8rem;
  width: 5rem;
  font-size: 14px;
  font-weight: 500;
  color: #139273;
  border-radius: 2px;
  background: #99E2D0;
}/*# sourceMappingURL=main.css.map */